
.title{
      padding-top: 100px;
      margin-left: 20px;
  }
  
.photo-title{
    margin-top: 50px;
    margin-bottom:50px;
    display:flex;
    justify-content: center;
    align-self: center;
  }
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

.app-picture{
    width:130px;
    height:130px;
    margin:20px;
    border-radius: 10%;
    box-shadow: 3px 3px 3px gray;
}
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
  
  
.app-picture:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

